

  
body{
  background-color:#007EF3 ;
}

p{
color: white;
}

section.section-what{
  color:black;
}


.lala{
  display: flex;
}


section{
background-color: pink;
color: white;
}

.bas{
  display: flex;
}

.bleu{
  display: flex;
}
